

.buttonColumn {
     max-width: 200px;
     padding-right: 10px !important;
     padding-bottom: 10px !important;
}

.fileDescriptionList {
    list-style-type: none;
    padding-left: 0px;
}

.hiddenFileInputOutput {
    position: absolute;
    opacity: 0;
    float: right;
    width: 0;
}
