.c-pinfo-stayabroad-period {

  align-items: baseline;

  &.current {
    background-color: whitesmoke;
  }

  .existingPeriod {
    display: flex;
    border-left: 1px solid black;
    margin-left: 16px;

    .icon {
      min-width: 32px;
      margin-left: -16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .existingPeriodButtons {
    display: flex;

    .existingPeriodButton {
       display: flex;
       align-items: center;
    }
  }

  .editPeriodButton,
  .addPeriodButton {
    display: flex;
    align-items: center;
  }

  .bold {
    font-weight: bold;
  }
}
