.c-pinfo-stayabroad-period {

  align-items: baseline;

  &.current {
    background-color: whitesmoke;
  }

  .existingPeriod {
    display: flex;
    margin-left: 16px;

    .icon {
      min-width: 32px;
      margin-left: -16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .topHalf {
        height: 50%;
        top: 0;
        position: absolute;
        left: 24px;
      }
      .bottomHalf {
        height: 50%;
        bottom: 0;
        position: absolute;
        left: 24px;
      }
      .iconsvg {
        padding: 5px;
        background: white;
        border-radius: 30px;
        z-index: 2;
        border: 1px solid black;
      }
    }
  }

  .line {
     border-left: 1px solid grey;
  }

  .existingPeriodButtons {
    display: flex;

    .existingPeriodButton {
       display: flex;
       align-items: center;
    }
  }

  .editPeriodButton,
  .addPeriodButton {
    display: flex;
    align-items: center;
  }
}
