@import '../../../constants';

.react-datepicker-popper {
  z-index: 2 !important:
}

.highContrast .c-ui-datePicker {
  input {
    background: @black;
  }
  .input-group-append span {
    background: @black;
  }
}
.highContrast .react-datepicker-popper {
  .react-datepicker,
  .react-datepicker__header,
  .react-datepicker__month-select,
  .react-datepicker__year-select {
    background-color: @black;
  }
}
