.c-p4000-datePicker {
    div.toggle {
        display: inline-flex !important;
    }

    .react-date-picker {

        &__button {
            border-radius: 5px;
            background-color: white;

            &__input {
                 padding: 5px;
            }
        }

        &--disabled {
            background-color: darkgrey;
        }
    }

    .toggle__label {
        height: 100% !important;
        max-width: 10rem;
    }
}
