@import '../../../constants';

.c-ui-topContainer {
    min-height: 100%;

    ._container {
        flex: 1 0 auto;
    }

    &.SAKSBEHANDLER {
        background-color: @white;
    }

    &.BRUKER {
        background-color: @white;
    }

    &.highContrast {

        color: @high-contrast-orange !important;
        background-color: @black !important;


    }
}
