@import '../../../constants';

.c-ui-topContainer {
    height: 100%;

    ._container {
        flex: 1 0 auto;
    }

    &.SAKSBEHANDLER {
        background-color: @white-off;
    }

    &.BRUKER {
        background-color: @white;
    }
}
