.pInfo fieldset {
    padding: 1rem;
    margin: 1rem;
}

.pInfo legend {
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
}
.pInfo dt {
    float: left;
    display: inline-block;
}
.pInfo dd {
    display: inline-block;
}
