@import '../../constants';

.p-pInfo {

    .hjelpetekst {
        position: absolute;
        right: 1rem;
    }
    dt {
        float: left;
        display: inline-block;
    }

    dd {
        display: inline-block;
    }
}

.highContrast.p-pInfo {

  .stegindikator__steg-num {
     background: @black !important;
     font-weight: bold;
  }

  .stegindikator__steg-inner--ferdig {
    .stegindikator__steg-num {
       background: @white !important;
       color: @black !important;
       font-weight: bold;
    }
  }
  .stegindikator__steg-inner--aktiv {

    .stegindikator__steg-num {
       background: @high-contrast-orange !important;
       color: @black !important;
       font-weight: bold;
    }
  }
}
