@import '../../constants';

.p-pInfo {

    dt {
        float: left;
        display: inline-block;
    }

    dd {
        display: inline-block;
    }

    .textarea--medMeta__teller {
      visibility: hidden;
    }

    .notification-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .flagImg {
      width: 20px;
      height: 15px;
      margin-right: 0.5rem;
    }

    .rotating {
         animation: p-pinfo-rotating 2s linear infinite;
    }

   .slideAnimate {
      opacity: 0;
      transform: translateX(-20px);
      animation: slideInFromLeft 0.3s forwards;
   }
}

.p-pInfoSaksbehandler {
  .fieldset {
    border: 3px solid lightgrey;
  }
}

.c-pinfo-bank {
  .hjelpetekst {
     padding-left: 0px;
     padding-top: 0.5rem;
  }
}

@keyframes p-pinfo-rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.highContrast.p-pInfo {

  .stegindikator__steg-num {
     background: @black !important;
     font-weight: bold;
  }

  .stegindikator__steg-inner--ferdig {
    .stegindikator__steg-num {
       background: @white !important;
       color: @black !important;
       font-weight: bold;
    }
  }
  .stegindikator__steg-inner--aktiv {

    .stegindikator__steg-num {
       background: @high-contrast-orange !important;
       color: @black !important;
       font-weight: bold;
    }
  }
}
