.p-pInfo {

    .hjelpetekst {
        position: absolute;
        right: 1rem;
    }

    fieldset {
        padding: 1rem;
        margin: 1rem;
    }

    legend {
        padding-left: 1rem;
        padding-right: 1rem;
        width: auto;
    }
    dt {
        float: left;
        display: inline-block;
    }
    dd {
        display: inline-block;
    }
}
