{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "process": true,
    "Promise" : true,
    "module": true,
    "require": true,
    "__dirname": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": 0,
// while there are some problems
    "indent": "off",
//    "indent": ["error", 4],
    "quotes": ["error", "single"],
    "react/jsx-no-literals" : "error",
    "react/no-unused-prop-types" : "error",
    "linebreak-style": ["error", "unix"]
  },
  "settings": {
    "react" : {
      "version" : "latest"
    }
  }
}
