
.clientAlert {
    height: 60px;
    min-height: 60px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.0;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.toFade {
  -webkit-animation: fade 5s;
  -moz-animation: fade 5s;
  -ms-animation: fade 5s;
  -o-animation: fade 5s;
  animation: fade 5s;
  opacity: 0;
  animation-iteration-count: 1;
}
