.c-ui-clientAlert {

    height: 60px;
    min-height: 60px;
    min-width: 300px;
    opacity: 0;
    animation: c-ui-clientAlert-fadeIn 0.5s forwards;

    &.fixed {
        position: fixed;
        top: 3px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    .closeIcon {
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
    }
}

@keyframes c-ui-clientAlert-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
