.c-ui-clientAlert {

    height: 60px;
    min-height: 60px;
    opacity: 0;
    animation: c-ui-clientAlert-fadeIn 0.3s forwards;

    &.fixed {
        position: fixed;
        top: 3px;
        left: 50%;
        transform: translateX(-50%);
    }

    &.toFade {
      animation: c-ui-clientAlert-fadeOut 5s;
      opacity: 0;
      animation-iteration-count: 1;
    }
}

@keyframes c-ui-clientAlert-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes c-ui-clientAlert-fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
