@import '../../../../constants';

.a-buc-c-sedstatus {
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 12px;
  min-width: 70px;

  &__received {
    background-color: @navBlaLighten60 !important;
  }
}

.highContrast .a-buc-c-sedstatus span {
  color: @black !important;
  font-weight: bold;
}
