.statusTags {
  &.received {
    background-color: var(--ax-info-600) !important;
  }
  &.active {
    background-color: var(--ax-meta-purple-200) !important;
    border-color: var(--ax-meta-purple-600) !important;
  }
  &.first_sent,
  &.first_received,
  &.first_cancelled {
    background-color: var(--ax-neutral-500) !important;
  }
}
