.statusTags {
  &.received {
    background-color: var(--a-lightblue-500) !important;
  }
  &.active {
    background-color: var(--a-purple-200) !important;
    border-color: var(--a-purple-500) !important;
  }
  &.first_sent,
  &.first_received,
  &.first_cancelled {
    background-color: var(--a-gray-400) !important;
  }
}
