
.addLink {
    right: 0px;
    top: 0px;
}

.deleteLink {
    right: 20px;
    top: 25px;
}

.deleteLink, .addLink {
    position: absolute;
    z-index: 10;
    background-color: white;
    padding: 1px 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.deleteLink:hover, .addLink:hover, .downloadLink:hover {
    background-color: lightblue;
}

.downloadLink {
    position: absolute;
    z-index: 10;
    left: 20px;
    top: 25px;
    background-color: white;
    padding: 1px 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.fileName,
.fileSize,
.numPages {
    font-size: 0.7rem;
}
