div.c-ui-fileUpload{
    padding-left: 32px;
    padding-right: 32px;
}
div.pinfo-fileupload{
    div.c-ui-fileUpload{
        div.dropzone{
            border: 1px solid #C6C2BF;
            border-radius: 8px;
            box-shadow: 0 0 0 0;
            &:hover{
                border: 1px solid #0067C5;
                background-color: white;
                box-shadow: #B7B1A9 0 2px 1px 0;
            }
            &:focus{
                outline: 0;
                -webkit-box-shadow: 0 0 0 3px #FFBD66;
                box-shadow: 0 0 0 3px #FFBD66;
            }
        }
    }
}
fieldset{
    div.pinfo-fileupload-SkjemaGruppe{
        margin-left: -24px;
        margin-right: -24px;
    }
}