.hjelpetekst {
    float: right!important;
}

.topContainer {
    background-color: white;
    min-height: 100vh;
}

.Side-menu-nav {

    position: sticky;
    top: 0px;
    margin-bottom: 0.5rem;

	.divider {
		background-color: white;
		font-size: 20px;
		padding-top: 10px;
	}

	.item {
        position: relative;

        .item-title {
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 30px;
            font-size: 20px;
        }

        &:not(.active) {
            background-color: aliceblue;
            width: 250px;
            box-shadow: 3px 3px 3px lightgrey;
        }

        &.active {

            background-color: lightblue;
            border-right: 30px solid white;
            box-shadow: -27px 3px 3px lightgrey;
            z-index: 1;

            &:after {
                  content: " ";
                  position: absolute;
                  top: 100%;
                  left: 100%;
                  box-shadow:-6px 0px 3px lightgrey;
                  box-sizing: border-box;
                  border: 1em solid black;
                  border-color: transparent transparent lightblue lightblue;
                  transform-origin: 0 0;
                  transform: rotate(-136deg);
            }
        }
   	}
}

.Side-menu-nav-edit {

    cursor: wait !important;

    .item {
        width: 250px;
        .item-title {
            cursor: wait !important;
        }
        &:not(.active) {
            background-color: whitesmoke !important;
        }
        &.active {
            background-color: lightgrey !important;
            border-right: none !important;
            box-shadow: 3px 3px 3px lightgrey;
            &:after {
                content: "" !important;
                left: -99999px;
            }
        }
    }
}
