.Side-menu-nav {

    position: sticky;
    top: 0;

	.divider {
		background-color: white;
	}

	.item {
        position: relative;

        .item-title {
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 30px;
            font-size: 20px;
        }

        &:not(.active) {
            background-color: aliceblue;
            width: 250px;
            box-shadow: 3px 3px 3px 3px lightgrey;
        }

        &.active {

            background-color: lightblue;
            border-right: 30px solid white;
            box-shadow: -30px 1px 3px 3px lightgrey;
            z-index: 1;

            &:after {
                  content: " ";
                  position: absolute;
                  top: 100%;
                  left: 100%;
                  box-shadow:-4px 2px 5px 1px lightgrey;
                  box-sizing: border-box;
                  border: 1em solid black;
                  border-color: transparent transparent lightblue lightblue;
                  transform-origin: 0 0;
                  transform: rotate(-136deg);
            }
        }
   	}
}
