.Side-menu-nav {
	.divider {
		background-color: lightgrey;
		font-weight: 600;
        position: relative;

		&:after {
            z-index: 10;
            content: " ";
            position: absolute;
            right: 0px;
            top:0px;
            border-top: 42px solid white;
            border-left: 22px solid white;
        }
	}

	.item {
		background-color: honeydew;
        position: relative;

        .item-title {
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 30px;
            font-size: 20px;

        }

        &.active {
            background-color: lightgreen;

            > :after {
                z-index: 10;
                content: " ";
                display: inline-block;
                position: absolute;
                top: 0px;
                right: -22px;
                border-top: 22px solid transparent;
                border-bottom: 22px solid transparent;
                border-left: 22px solid lightgreen;
            }
        }

        &:not(.active):after {
            z-index: 10;
            content: " ";
            position: absolute;
            right: 0px;
            top: 0px;
            border-top: 22px solid white;
            border-bottom: 22px solid white;
            border-left: 22px solid white;

        }
   	}
}
