.miniatureOther {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;

   .miniatureDocument {
        width: 90px;
        height: 140px;
        background-color: white;
        border: solid 1px whitesmoke;
        box-shadow: 3px 3px 3px lightgray;

        .content {
            margin-top: 3rem;
            font-weight: bold;
            color: black;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

