.miniaturePdf {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    text-align: center;
}

.deleteLink {
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
}

.downloadLink {
    position: absolute;
    z-index: 10;
    left: 5px;
    top: 5px;
}

.page {
    border: solid 1px whitesmoke;
    box-shadow: 3px 3px 3px lightgray;
}

.fileName,
.numPages,
.fileSize {
    font-size: 0.7rem;
}
