.miniatureOther {
    display: inline-block;
    border: solid 1px whitesmoke;
    margin-right: 5px;
    vertical-align: top;
    text-align: center;
}

.miniatureOther .document {
    width: 100px;
    height: 140px;
    background-color: white;
    border: solid 1px whitesmoke;
    box-shadow: 3px 3px 3px lightgray;
}

.content {
    font-weight: bold;
    padding-top: 50%;
    text-transform: uppercase;
    text-align: center;
}

.deleteLink {
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 5px;
}

.downloadLink {
    position: absolute;
    z-index: 10;
    left: 5px;
    top: 5px;
}

.fileName,
.fileSize {
    font-size: 0.7rem;
}
