.c-pdf-dndExternalFiles {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .cloneStyle + div {
        display: none !important;
    }
    .draggable {
        z-index: 10;
    }

    .dragging {
        opacity: 0.5;
    }

    .fileList {

        overflow-y: auto;
        height: 200px;
        text-align: left;
        flex : 1;
        background-color: #f8f8f8;

        .fileRow {
            display: flex;

            justify-content: space-between;
            padding: 0.5rem;
            background-color: whitesmoke;
            text-decoration: none;
            border: 2px solid whitesmoke;

            &.selected {
                border: 2px solid orange;
            }
        }
    }
}
