:global html {
  height: 100%;
}
:global body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  background-color: var(--a-bg-subtle);
}
:global pre {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
:global code.block {
  display: block;
  white-space: pre-wrap;
}
:global dd {
  margin-bottom: .5rem;
  margin-left: 0;
}
:global ol {
  list-style-type: decimal;
}

:global .print-version {
  width: 100%;
  margin-top: 0.5rem;
  @media print {
    @page {
      size: A4 landscape;
    }
    td {
      padding: 0.5rem;
    }
  }
}
