@import '../../../constants';

.c-ui-topContainer {
    min-height: 100%;
    background-color: @white;
    ._container {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }

    &.highContrast {

        color: @high-contrast-orange !important;
        background-color: @black !important;


    }
}
