.c-pdf-dndTarget {
    .c-pdf-dndTarget-droppable {
        background-color: whitesmoke;
        padding: 10;
        overflow-y: auto;
        min-height : 65vh;
        display: flex;
        flex-direction: column;
        box-shadow: inset 5px 5px 5px lightgrey;
    }

    .c-pdf-dndTarget-droppable-active {
        background-color: rgba(0,128,0,0.2);
        animation: dndTargetPulsate 1s ease-out;
        animation-iteration-count: infinite;
    }

    .c-pdf-dndTarget-draggable {
         margin: 5px;
    }
    .c-pdf-dndTarget-draggable-active {
        border: 2px dashed gray;
        padding: 2px;
        animation: dndTargetPulsateBorder 1s ease-out;
        animation-iteration-count: infinite;
    }
}

@keyframes dndTargetPulsate {
    0% {
        background-color: rgba(0,128,0,0.2);
    }
    50% {
        background-color: rgba(0,128,0,0.1);
    }
    100% {
        background-color: rgba(0,128,0,0.2);
    }
}

@keyframes dndTargetPulsateBorder {
    0% {
        border: 2px dashed rgba(128,128,128,1);
    }
    50% {
        border: 2px dashed rgba(128,128,128,0);
    }
    100% {
        border: 2px dashed rgba(128,128,128,1);
    }
}
