.a-buc-sedpanel {
  transform: translateX(-20px);
  opacity: 0;
  animation: a-buc-sedpanel-slideInFromLeft 0.2s forwards;
}

@keyframes a-buc-sedpanel-slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
