@import '../../../../constants';

.a-buc-c-sedpanel {
  transform: translateX(-20px);
  opacity: 0;
  animation: slideInFromLeft 0.2s forwards;
}

.highContrast .a-buc-c-sedpanel {
  .ekspanderbartPanel {
    background: @black;
  }
 .ekspanderbartPanel__hode {
   background: @black;
 }
}
