.event {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
}
.eventBadge {
    background: #0067c5;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    position: relative;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-animation: cd-bounce-1 0.6s forwards;
     -moz-animation: cd-bounce-1 0.6s forwards;
     animation: cd-bounce-1 0.6s forwards;
     cursor: pointer;
     box-shadow: 3px 3px 3px lightgray;
     transition: all .2s ease-in-out;
     &:hover {
         transform: scale(1.2);
     }
}
.eventBadgeLine {
    position: absolute;
    top: 30px;
    left: -10px;
    width: 80px;
    height: 4px;
    background-color: #0067c5;
}
.eventBadgeHasAttachments {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    color: black;
}

.eventBadgeDate {
    color: black;
    font-size: 0.7rem;
    text-align:center;
    margin-top:10px;
}

.eventBadgeIcon {
   width: 40px !important;
   height: 40px !important;
   margin: 10px;
}

.eventBadge.selected {
    background: red;
    transform: scale(1.2);
}
.eventBadge.selected:before {
    background: transparent;
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
