.panel-eventForm .knapp--hoved,
.panel-eventForm .knapp--standard {
    width: 100%;
    margin-bottom: 0.5rem;
}

.fieldset {
   background-color: whitesmoke;
   box-shadow: 3px 3px 3px lightgrey;
}

.editMode {
    padding-top: 1rem !important;
    background-color: aliceblue;
}

.editMode .fieldset {
    border: 1px solid lightblue;
    background-color: white;
}

.row-component .panel {
    background-color: transparent;
}

.fieldset.validationFail {
    border: 1px solid red;
    background-color: #FFF0F0;
}

.floatingAlertOnTop {
    min-height: 90px;
};
