.panel-eventForm .knapp--hoved,
.panel-eventForm .knapp--standard {
    width: 100%;
    margin-bottom: 0.5rem;
}

.fieldset {
   background-color: whitesmoke;
   box-shadow: 3px 3px 3px lightgrey;
}

.editMode .fieldset {
   border: 1px solid lightblue;
   background-color: aliceblue;
 }

.fieldset.validationFail {
   border: 1px solid red;
   background-color: #FFF0F0;
}

.row-component .panel {
    background-color: transparent;
}

.fieldset.validationFail {
    border: 1px solid red;
    background-color: #FFF0F0;
}


