.a-buc-page {

  .optional {
    float: right;
    font-weight: normal;
    font-style: italic;
  }

  .selectBoxMessage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 2rem;
  }

  button.knapp:hover:not(:disabled) svg * {
    stroke: white;
  }
}
