.c-ui-tablesorter {

  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: row;
  }

  &__status {
    min-height: 30px;
  }

  &__subcell {
    display: flex;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  }

  .checkbox {
    width: 70px;
  }

  .headerSortDesc {
    background: #0067C5;
    color: white;

    p:after {
      content: " ▲";
    }
  }

  .headerSortAsc {
    background: #0067C5;
    color: white;

    p:after {
      content: " ▼";
    }
  }

  &__sort-input {
    margin-bottom: 0px !important;
    .skjemaelement__label {
        display: none;
    }
  }

  &__checkbox {
    margin-bottom: 0px !important;
    .skjemaelement__label {
      display: block !important;
    }
  }

  &__table {
    width: 100%;

    thead {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid grey;

      th {
        padding: 0.5rem;
        text-align: center;
        display: block;
        cursor: pointer;

        &:hover {
          background-color: grey;
        }

        &:not(:first-child) {
          flex: 1;
        }

        &:first-child {
          width: 50px;
        }
      }
    }

    tbody {
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      tr {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid lightgrey;
      }
    }

    tr {
      display: flex;
      flex-direction: row;
    }


    td {
      display: block;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;

      input {
        width: 100%;
      }

      &:not(:first-child) {
        flex: 1;
      }

      &:first-child {
        width: 50px;
      }
    }
  }

  &__preview {
     margin-left: 1rem;
     min-width: 141.4px;
     min-height: 210px;
  }
}
