.c-ui-tablesorter {

  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: row;
  }

  &__status {
    min-height: 30px;
  }

  .checkbox {
    width: 70px;
  }

  .headerSortDesc {
    background: whitesmoke;
    &:after {
      content: " ▲";
    }
  }

  .headerSortAsc {
    background: whitesmoke;
    &:after {
      content: " ▼";
    }
  }

  &__sort-input {
    margin-bottom: 0px !important;
    .skjemaelement__label {
        display: none;
    }
  }

  &__checkbox {
    margin-bottom: 0px !important;
    .skjemaelement__label {
      display: block !important;
    }
  }

  &__table {
    width: 100%;

    thead {
      display: flex;
      flex-direction: column;
    }

    tbody {
      max-height: 200px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      tr {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
    }

    tr {
      display: flex;
      flex-direction: row;
    }

    th {
      text-align: center;
      display: block;
      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: aliceblue;
      }
    }

    td {
      display: block;
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  &__preview {
     margin-left: 1rem;
     min-width: 141.4px;
     min-height: 210px;
  }
}
