.c-p4000-event {

    position: relative;
    display: inline-block;
    margin-right: 1rem;

    .knapp--hoved {
      margin-right: 0px !important;
    }

    .badge {
        background: #0067c5;
        padding: 0px !important;
        width: 60px !important;
        height: 60px;
        border-radius: 10px !important;
        /* Force Hardware Acceleration in WebKit */
        transform: translateZ(0);
        animation: badgeFadeIn 0.4s forwards;
        transition: all .2s ease-in-out;
        cursor: pointer;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.3);

        &:hover {
            transform: scale(1.2);
        }
        &.selected,
        &.selected.knapp--hoved:focus{
          background: red;
          transform: scale(1.2);
        }
        &.selected:before {
            background: transparent;
        }
    }
    .badgeLine {
        position: absolute;
        top: 30px;
        left: -10px;
        width: 80px;
        height: 4px;
        background-color: #0067c5;
    }
    .badgeHasAttachments {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        color: black;
    }

    .badgeDate {
        color: black;
        font-size: 0.7rem;
        text-align:center;
        margin-top:10px;
    }

    .badgeIcon {
       width: 40px !important;
       height: 40px !important;
       margin: 0.5rem;
    }

    &:nth-child(2n-1) .badge {
      opacity: 0;
      animation-delay: 0.3s;
    }
    &:nth-child(2n) .badge {
      opacity: 0;
      animation-delay: 0.1s;
    }
    &:nth-child(3n) .badge {
      opacity: 0;
      animation-delay: 0.2s;
    }
    &:nth-child(5n) .badge {
      opacity: 0;
      animation-delay: 0.4s;
    }
}

@keyframes badgeFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
