.artwork {
  position: relative;
  height: 300px;
  width: 250px;

  img {
    position: absolute;
  }

  .monitor {
    width: 250px;
    height: 200px;
  }
  .cup {
    width: 33px;
    height: 30px;
    top: 170px;
    left: 255px;
  }
  .mouse {
    width: 60px;
    height: 80px;
    left: 190px;
    top: 180px;
  }

  .map {
    width: 70px;
    height: 100px;
    top: 20px;
    left: 90px;
  }
}
