.c-ui-flag {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;

    img.flag-image {
       width: auto;
       height: 100%;
       margin-left: -50%;
       margin-top: -10%;
    }
}
