.c-ui-flag {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid lightgrey;

    img.flag-image {
       width: 40px;
       height: 110%;
       margin-left: -8px;
       margin-top: -20%;
    }
}

.c-ui-flaglist {
  display: flex;
  flex-wrap: wrap;
}
