.c-ui-fileSelectModal .fileList {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid lightgray;

    .file {
        padding: 0.5rem;
        background-color: whitesmoke;
        display: block;
        text-decoration: none;
        border: 2px solid whitesmoke;

        &.selected {
            border: 2px solid orange;
        }
    }
}
