.a-buc-c-sedrow {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &.withborder {
      border-bottom: 1px solid grey;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__info-dates {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
  }

  &__info-date {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  &__institution {
    flex-direction: row;
    display: flex;
    align-items: center;
  }
}
