.a-buc-c-sedrow {
  &__content {

    display: flex;
    justify-content: space-between;

    &.withborder {
      border-bottom: 1px solid grey;
    }
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__status {
     display: flex;
     justify-content: center;
     align-items: center;
  }

  &__institutions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__institution {
    display: flex;
    flex-direction: row;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

}
