.c-ui-footer {
    flex-shrink: 0;
    background: whitesmoke;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: width 0.2s ease-out;

    &.toggled {
      height: 40px;
    }

    &:not(.toggled) {
      height: 10px;
    }

    .footerButtonClosed {
       width: 100%;
       margin: 0px;
       display: block;
       padding: 0px;
       &:hover {
         cursor: pointer;
         background-color: lightgrey;
       }
    }

    .footerButtonOpen {
       width: 1.2rem;
       margin-right: 0.5rem;
       display: inline-block;
       padding-top: 0.6rem;
       color: grey;
       text-align: center;
       &:hover {
         cursor: pointer;
         background-color: lightgrey;
       }
    }
    .fullWidth {
        width: 100%;
    }
    .contents {
      display:flex;
    }
    .newParam {
      transform: scale(0.7);
      transform-origin: left top;
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
    .paramSelect,
    .paramValue {
       margin-right: 0.5rem;
       margin-bottom: 0px;
    }
    .addParamButton, .toggleDrawerEnableButton {
      padding: 0.5rem;
    }
    .params {
      display: flex;
      flex-direction: row-reverse;

      div {
        margin-left: 0.25rem;
      }
    }

    .mini {
        transform: scale(0.5);
    }

    .param {
        display: flex;
        align-items: center;
        flex-direction: row;

        .etikett {
           padding: 0.2rem !important;
           white-space: nowrap;
        }
    }
}
