.c-ui-footer {
    flex-shrink: 0;
    background: whitesmoke;
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;

    .newParam {
      transform: scale(0.7);
      transform-origin: left top;
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
    .paramSelect {
       margin-right: 0.5rem;
    }
    .paramValue {
       margin-right: 0.5rem;
    }
    .addParamButton {
      padding: 0.5rem;
    }
    .params {
      display: flex;
      flex-direction: row-reverse;

      div {
        margin-right: 1rem;
      }
    }

    .mini {
        transform: scale(0.5);
    }

    .param {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}
