.c-ui-footer {
    flex-shrink: 0;
    background: whitesmoke;
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: row-reverse;

    div {
        display: inline-block;
        margin-right: 1rem;
    }
}
