.BoxWithBorderAndPaddingNew {
  border: 1px solid var(--a-border-default) ;
  border-radius: 4px;
  background-color: var(--a-bg-default);
  padding: 12px 12px 12px 12px;
}

.CopyWithMarginNew {
  position: relative;
  top: 2px;
  left: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.CopyFilledWithMarginNew {
  position: relative;
  top: 2px;
  left: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.HiddenDivNew {
  display: none;
}

.WaitingPanelDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.CenterHStackNew {
  align-items: center;
}

.repeatableBox {
  &.new {
    background-color: rgba(236, 243, 153, 0.5);
  };
  &.error {
    background-color: rgba(255, 0, 0, 0.2);
  };
  &:hover:not(.new):not(.error) {
    background-color: var(--a-gray-100);
  }
  &:not(:hover) .control-buttons {
    display:none
  }
}

.repeatableBox2 {
  &.new {
    background-color: red;
  };
  &.error {
    background-color: rgba(255, 0, 0, 0.2);
  };
  &:hover:not(.new):not(.error) {
    background-color: var(--a-gray-100);
  }
  &:not(:hover) .control-buttons {
    display:none
  }
}
