.c-joarkbrowser__variant {
  display: flex;
  align-items: flex-start;
  padding-top: 0.25rem;
  justify-content: space-between;
  align-items: center;

  .buttons {
    display: flex;
    flex-wrap: nowrap;
  }
}
