.c-p4000-menu-new {
    .bigButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bigButton {
        opacity: 0;
        animation: menuNewFadeIn 0.2s forwards;
        position: relative;

        &:hover {
            transition: all 250ms ease-out;
            .notification {
                border: 2px solid white;
            }
        }
    }
    .notification {
       position: absolute;
       top: 0.5rem;
       right: 0.5rem;
       padding: 0.5rem;
       border-radius: 30px;
       min-width: 2.5rem;
       font-size: 1.3rem;
       border: 2px solid rgb(0, 103, 197);
    }
}

@keyframes menuNewFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
