.c-p4000-menu-new {
    .bigButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bigButton {
        opacity: 0;
        animation: menuNewFadeIn 0.2s forwards;
    }
}

@keyframes menuNewFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
