.a-buc-c-bucHeader {

  .bucheader-svg {
      min-width: 37px;
      min-height: 37px;
  }

  a span.lenkepanel__indikator {
      display: none;
  }
  a.lenkepanel {
      border: solid 2px #0067c5;
      border-radius: 2px;
  }

  a.lenkepanel--border:hover {
      border: solid 2px #0067c5;
      text-decoration: none;
  }
}
