.a-buc-c-bucheader {

  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__flags {
     margin: 0px;
     padding: 0px;
     display: flex;
     align-items: center;
  }

  &__actions {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0px;
  }

  &__owner {
    display: flex;
  }

  &__button {

    margin-bottom: 0px !important;
    border: solid 2px #0067c5 !important;
    border-radius: 2px;
    color: #0067c5 !important;

    &:hover {
      color: white !important;
    }

    span.lenkepanel__indikator {
       display: none;
    }
  }

  &__icons {
    display: flex;
  }

  &__icon-tags {
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }

  &__tag {
    margin-right: 0.5rem;
    width: 30px;
    height: 30px;
  }

  &__icon-numberofseds {
    border: 2px solid black;
    border-radius: 20px;
    min-width: 30px;
    min-height: 30px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  &__bucedit-link {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem !important;
    margin-bottom: 0px !important;
    color: #0067C5 !important;
    border-radius: 0.125rem !important;
    border: 2px solid #0067C5 !important;

    &:active {
      background-color: #005B82 !important;
      border-color: #005B82 !important;
      color: #ffffff !important;
    }

    &:hover {
      background-color: #0067C5 !important;
      color: #ffffff !important;
    }
  }
}
