.numberOfSedsDivFlagSizeXL {
  border-width: 3px;
  border-style: solid;
  border-color: var(--a-text-default);
  border-radius: 50px;
  min-width: 50px;
  min-height: 50px;
  height: 50px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.numberOfSedsDivFlagSizeMd {
  border-width: 2px;
  border-style: solid;
  border-color: var(--a-text-default);
  border-radius: 50px;
  min-width: 32px;
  min-height: 32px;
  height: 32px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 1.5rem;
}

.rinaLink {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem !important;
  margin-bottom: 0 !important;
  color: var(--a-surface-action) !important;
}

.rowText {
  white-space: nowrap !important;
  padding-right: 0.5rem;
}
