.c-pinfo-receipt {
  .existingPeriodButton.knapp--standard {
    display: none
  }

  .hiddenLink {
    position: absolute;
    left: -9999px;
  }

  .dots {
    border-bottom: 2px dashed grey;
    margin-top: -1.35rem;
    margin-bottom: 1.35rem;
    width: 100%;
  }

}
dl.row.ml-2::before {
  display: inline-block
}