.case .hjelpetekst {
    margin-top: 0px !important;
}

.getcase  .hjelpetekst {
     margin-bottom: 1rem;
     float: right;
}

.fieldset {
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px lightgrey;
}

.renderedInstitutions {
    background: white;
    border: 1px solid lightgrey;
    padding: 5px;
    box-shadow: 1px 1px 1px lightgrey;
    border-radius: 5px;
}

.selectBoxMessage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1rem;
}
