.modalText{
  margin: 1.5rem;
  text-align: center;
}

.buttonMargin{
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.iconDiv{
  z-index: 40000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.contentDiv{
  overflow: auto;
  max-height: 85vh;
  &.icon {
    margin-top: 6rem;
  }
  &.buttons {
    margin-top: 3rem;
  }
}
