.minimalModalDiv {
  min-height: 200px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.minimalContentDiv {
  flex: 1;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.alertstripeDiv {
  margin: 0.5rem;
  min-width: 50%;
}

.sectionDiv {
  flex: 1;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
