.c-p4000-menu-file {
    .buttonColumn {
         max-width: 200px;
         padding-right: 10px !important;
         padding-bottom: 10px !important;
    }
    .fileDescriptionList {
        list-style-type: none;
        padding-left: 1rem;
    }
    .fileButton {
        opacity: 0;
        animation: menuFileFadeIn 0.2s forwards;
    }
}

@keyframes menuFileFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
