.a-buc-widget {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__loading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .optional {
    float: right;
    font-weight: normal;
    font-style: italic;
  }

  .selectBoxMessage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 2rem;
  }

  .grey select {
    color: grey !important;
  }

  button.knapp:hover:not(:disabled) svg * {
    stroke: white;
  }
}
