div.c-ui-status-label{
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 12px;
    width: 70px;
}

div.c-ui-status-label-received{
    background: #99bdcd;
}

div.c-ui-status-label-sent{
    background: #9bd0b0;
}

div.c-ui-status-label-draft{
    background: #ffd399;
}

div.c-ui-status-label-unknown{
    background: #ba3a26;
}
