.c-p4000-eventForm {

    .knapp--hoved,
    .knapp--standard {
        margin-bottom: 0.5rem;
        margin-right: 1rem;
    }

    .editMode .fieldset {
       border: 1px solid lightblue;
       background-color: aliceblue;
     }

    .fieldset.validationFail {
       border: 1px solid red;
       background-color: #FFF0F0;
    }

    .panel {
        background-color: transparent;
    }
}
