.c-p4000-eventForm {

    .knapp--hoved,
    .knapp--standard {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .editMode .fieldset {
       border: 1px solid lightblue;
       background-color: aliceblue;
     }

    .fieldset.validationFail {
       border: 1px solid red;
       background-color: #FFF0F0;
    }

    .row-component .panel {
        background-color: transparent;
    }
}
