.scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

.selectedDocument {
    border: solid 1px gray;
    padding: 5px;
    margin-right: 5px;
}

.recipePDFarea {
    overflow-y: auto;
    height: 600px;
}