.aksel-accordion__item[data-expanded="true"]>.aksel-accordion__header {
  background-color: var(--ax-bg-accent-soft);
}

/* Fix P5000 tables breaking on smaller screensizes */
.tabell thead th button{
  display: block !important;
}

.aksel-table__header .aksel-table__header-cell{
  vertical-align: top;
}

.aksel-table__sort-button {
  width: inherit !important;
}

div[class$="multi-value__remove"]:hover {
  background-color: transparent !important;
}
