.p-indexPage {
  .fieldset {
     background: whitesmoke;
     box-shadow: 3px 3px 3px lightgrey;
  }

  .frontPageLink {
    transform: translateX(-20px);
    opacity: 0;
    animation: slideInFromLeft 0.2s forwards;
  }
}
