#root,
dialog {
  /* Graa ramme rundt flagg */
  --navds-semantic-color-border: var(--navds-global-color-gray-600);
  --navds-global-color-gray-600: rgba(112, 112, 112, 1);

  /* Graa bakgrunnsfarge i annenhver tabellrad */
  --navds-semantic-color-canvas-background: var(--a-bg-subtle);
  --navds-semantic-color-component-background-light: var(--a-surface-default);

  --navds-semantic-color-focus-inverted: var(--a-border-focus-on-inverted);
  --navds-semantic-color-interaction-primary-hover-subtle: var(--a-surface-action-subtle-hover);
  --navds-semantic-color-component-background-alternate: var(--a-surface-subtle);

  --navds-semantic-color-text: var(--a-text-default);
  --navds-semantic-color-interaction-primary: var(--a-surface-action);
  --navds-semantic-color-interaction-primary-hover: var(--a-surface-action-hover);
  --navds-semantic-color-focus: var(--a-border-focus);
  --navds-tag-color-error-border: var(--a-border-danger);

  --navds-select-color-background: var(--a-surface-default);
  --navds-select-color-border: var(--a-border-default);
}
