@import '../../../constants';

.c-ui-banner {
  align-self: stretch;
  background-color: @pensiongreenalpha;
  border-bottom: 4px solid @pensiongreen;
  /* display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;*/
  margin-bottom: 100px;
  .nav-veileder {
    margin-bottom: -100px;
    /*display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;*/
  }
}
