.c-ui-banner {
  align-self: stretch;
  background-color: #ffe5cc;
  border-bottom: 4px solid #ffa900;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;

  .container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
  }
}
