@import '../../../constants';

.c-ui-banner {
  align-self: stretch;
  background-color: @pension-orange-alpha;
  border-bottom: 4px solid @pension-orange;
  margin-bottom: 50px;

  .nav-veileder {
    margin-bottom: -50px;
    margin-top: 60px;
  }
}
