.a-buc-c-sedp4000-period {

  align-items: baseline;

  &.view, &.detail {
     flex-direction: row;
     align-items: center;
  }

  &__label {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__existingPeriod {
    display: flex;

    &-icon {
      min-width: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .topHalf {
        height: 60%;
        top: -50px;
        left: 0;
        position: absolute;
        left: 26px;
      }
      .bottomHalf {
        height: 90%;
        bottom: 0;
        left: 0;
        position: absolute;
        left: 26px;
      }
      .iconsvg {
        position: absolute;
        top: 10%;
        left: 10px;
        background: white;
        z-index: 2;
        text-align: center;
      }
    }

    &-description {
      padding-bottom: 0.5rem;
    }

    &-type,
    &-dates,
    &-workActivity,
    &-learnInstitution,
    &-payingInstitution,
    &-otherType,
    &-childName {
      display: flex;
      align-items: center;
    }

    &-attachments {
      align-items: center;
    }
    &-buttons {
      display: flex;
      justify-content: center;
    }

    &-button {
      display: flex;
      align-items: center;
      min-width: 140px;
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .line {
     border-left: 1px solid black;
  }

  &__edit-button,
  &__save-Button {
    display: flex;
    align-items: center;
  }

  textarea {
    min-height: 100px;
    width: 100%;
  }
}

.id-suggestions {

  .etikett {
     cursor: pointer;
     &:hover {
       filter: brightness(110%);
     }
  }
}

.highContrast .c-pinfo-stayabroad-period {
  .line {
     border-left: 2px solid white;
  }
}

label.datepickerLabel {
  border-bottom: 1px solid #979797;
}

@media (min-width: 768px) {
  div.datePicker__seperator {
    height: 23px;
    display: block;
    width: 45px;
    border-bottom: 1px solid #979797;
  }
}
