.existingEvents.hiding {
    height: 0px !important;
    padding: 0px !important;
    visibility: hidden;
}

.existingEvents {
    position: relative;
    background-color: #f0fff0;
}

.fieldset {
   background-color: whitesmoke;
   box-shadow: 3px 3px 3px lightgrey;
}

.editMode {
    background-color: aliceblue;
}

.editMode .fieldset {
    border: 1px solid lightblue;
    background-color: white;
}

.row-component .panel {
    background-color: transparent;
}

.fieldset.validationFail {
    border: 1px solid red;
    background-color: #FFF0F0;
}

.floatingAlertOnTop {
    min-height: 90px;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    z-index: 1
};

@-webkit-keyframes fade {
0% {opacity: 1}
80% {opacity: 1}
100% {opacity:0.2}
}

@-moz-keyframes fade{
    0% {opacity: 1}
  80% {opacity: 1}
  100% {opacity:0}
}

@keyframes fade {
  0% {opacity: 1}
  80% {opacity: 1}
  100%{opacity: 0.2}
    }
@-o-keyframes fade {
0% {opacity: 1}
  80% {opacity: 1}
  100%{opacity: 0.2}

}
.toFade {
  -webkit-animation: fade 5s;
  -moz-animation: fade 5s;
  -ms-animation: fade 5s;
  -o-animation: fade 5s;
  animation: fade 5s;
}
