div.toggle {
    display: inline-flex !important;
}

.react-date-picker__button {
    border-radius: 5px;
}

.react-date-picker__button__input {
    padding: 5px;
}

.react-date-picker--disabled {
    background-color: darkgrey;
}
