.event {
    background: rgb(33,150, 24);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
    position: relative;
}

.eventDate {
    color: black;
    display: inline-flex;
    font-size: 0.7rem;
    text-align:center;
}

.event svg {
   width: 40px !important;
   height: 40px !important;
   margin:10px;
}

.event.selected {
    background: red
}

.eventDiv {
    borderRadius: 10px;
    border: 1px solid lightgray;
    cursor: hand;
}

.eventDivSelected {
    borderRadius: 10px;
    border: 1px solid red;
    cursor: default;
    backgroundColor: lightgray;
}

.existingEvents {
    background: whitesmoke;
    padding: 15px;
    box-shadow: inset 2px 2px 2px lightgrey;
}

.existingEvents::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #fff;
}
