.c-d-PersonWidget {

  .grey {
    color: grey;
  }
  .ekspanderbartPanel__hode {
    padding: 0.5rem 1rem 0.5rem 1rem !important;
  }

  .s-border {
    border: 1px solid #59514B;
    border-radius: 4px;
  }
}
