.vis-item {
    min-height: 100px;
    background-color: aliceblue;
    border-radius: 0px;
    box-shadow: 3px 3px 3px lightgrey;
    border:1px solid transparent;
}

.vis-timeline {
     border: none;
     background-color: white;
}

.timeline-event {
    text-align: center;
}

.row-timeline-view {
    background-color: whitesmoke;
}

.ekspanderbartPanel__hode,
.ekspanderbartPanel__innhold{
    background-color: transparent !important;
}

.jsonview {
    overflow: auto;
    max-width: 40vw !important;
}
