.vis-item {
    min-height: 100px;
    background-color: aliceblue;
    border-radius: 0px;
    box-shadow: 3px 3px 3px lightgrey;
    border: 1px solid transparent;
}

.vis-timeline {
     border: none;
     background-color: white;
}

.timeline-event {
    text-align: center;
}

.row-timeline-view {
    background-color: whitesmoke;
}

.ekspanderbartPanel__hode,
.ekspanderbartPanel__innhold{
    background-color: transparent !important;
}

.jsonview {
    overflow: auto;
    max-width: 40vw !important;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element-content {
        width: 45% !important;
    }

    .vertical-timeline-element-icon svg {
        width: 40px !important;
        height: 40px !important;
        margin-left: -20px !important;
        margin-top: -20px !important;
    }
}

@media only screen and (max-width: 1169px) {

    .vertical-timeline-element-icon svg {
        width: 24px !important;
    }
}

