.c-p4000-menu-export {

    .hiddenLink {
        position: absolute;
        left: -9999px;
    }

    .exportButton {
        width: 100%;
        min-height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: normal;
        justify-content: center;
        text-align: left;
        padding: 0.3rem;
        svg {
           margin-right: 0.5rem;
        }
    }

    #panel-content, #panel-pdf {
        background: white;
    }
}
