.a-buc-c-sedheader {

  transform: translateX(-20px);
  opacity: 0;
  animation: slideInFromLeft 0.2s forwards;

  &__border {
    &-full {
      border: 1px solid #59514B;
      border-radius: 4px;
    }
    &-bottom {
      border-bottom: 1px solid #59514B;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__status {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__institution {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  &__actions {
    flex-direction: row;
    align-items: center;
  }
}

