
.scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

.dropzone {
     position: relative;
     min-height: 200px;
     border: none !important;
     box-shadow: inset 3px 3px 3px lightgray;
     background-color: white;
 }
.dropzone:hover {
   background-color: #FAFAFF;
}
.dropzone-active {
    background-color: honeydew;
}
.dropzone-placeholder,
.dropzone-files {
   padding: 5px;
  cursor: pointer;
  width: 100%;
}
.dropzone-placeholder-message,
.dropzone-placeholder-status {
    display: inline-block;
}

.dropzone-placeholder-status {
    float: right;
    margin-right: 5px;
    color: gray;
}

.fileUploadFile-exit {
    opacity: 0.01;
    transform: scale(0.1);
      transition: all 500ms ease-out;
}

.fileUploadFile-exit-active {
    opacity: 0.01;
    transform: scale(0.1);
    transition: all 500ms ease-out;
}
