.c-ui-joarkBrowser {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 200px;
    border: 1px solid #78706A;
    border-radius: 4px;
    background-color: whitesmoke;
    cursor: pointer;

    &__item {
      padding: 1rem;
      background: transparent;

      &.selected {
        background: blue;
      }
    }
}
