.c-ui-breadcrumbs {

    margin-bottom: 0px !important;
    flex-shrink: 0;

    ._breadcrumb {
        display: inline-block;
        .separator {
            padding-left: 0.7rem;
            padding-right: 0.7rem;
        }
    }
}
