.c-ui-breadcrumbs {

    margin-bottom: 0px !important;
    flex-shrink: 0;
    padding: .5rem 2rem !important;

    ._breadcrumb {
        display: inline-block;
        .separator {
            padding-left: 0.7rem;
            padding-right: 0.7rem;
        }
    }

    .breadcrumbButton {
        background-color: transparent;
        border: none;
        color: #007bff;
        &:hover {
            background: rgba(0,0,0,0.2);
        }
    }
}
