@import '../../constants';

.p-firstPage {

  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: @white;

  .psycho {
    height: 110px;
  }

  .content {
    padding: 1rem;
    flex: 1;
  }
}
