@import '../../constants';

.c-footer {
  flex-shrink: 0;
  background: @navLysGra;
  padding: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: width 0.2s ease-out;

  &.toggled {
    height: 40px;
  }

  &:not(.toggled) {
    height: 10px;
  }

  .footerButtonClosed {
     width: 100%;
     margin: 0px;
     display: block;
     padding: 0px;
     &:hover {
       cursor: pointer;
       background-color: @navLysGra;
     }
  }

  .footerButtonOpen {
     width: 1.2rem;
     margin-right: 0.5rem;
     display: inline-block;
     padding-top: 0.6rem;
     color: @navGra60;
     text-align: center;
     &:hover {
       cursor: pointer;
       background-color: @navLysGra;
     }
  }
  .fullWidth {
      width: 100%;
  }
  .contents {
    display:flex;
  }
  &__form {
    transform: scale(0.7);
    transform-origin: left top;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  &__select,
  &__input {
     margin-right: 0.5rem;
     margin-bottom: 0px;
  }
  &__add-button {
    padding: 0.5rem;
  }
  &__params {
    display: flex;
    flex-direction: row-reverse;

    div {
      margin-left: 0.25rem;
    }
  }

  &__remove-button {
    transform: scale(0.5);
  }

  &__param {
    display: flex;
    align-items: center;
    flex-direction: row;

    .etikett {
       padding: 0.2rem !important;
       white-space: nowrap;
    }
  }
}

.highContrast.c-footer {
  background: @navMorkGra !important;
}
