

div{
    //border: 1px solid black;
}
body{
    background-color: #e9e9e9;
}
div.row{
    width: 100%;
}

div.newFeatureBackground{
    min-height: 100vh;
    background: #e9e9e9;
}

div.newFeatureContainer{
    min-height: 100vh;
}

div.textBox{
    display:flex;
    background: #fff;
}

div.SedContainer{
    border-bottom: 1px solid black;
}

div.c-ui-mw-150{
    max-width: 150px;
}

div.c-ui-mw-250{
    max-width: 250px;
}