.w-overview-personPanel {
  &__waiting,
  &__title {
    display: flex;
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: end;
  }
  &__element {
    display: flex;
    align-items: baseline;
  }
  hr {
    border-color: grey !important;
  }
}
