@import '../../constants';

.w-overview {
  &-personPanel {
    &__waiting,
    &__title {
      display: flex;
      align-items: center;
    }

    &__item {
      display: flex;
      align-items: flex-start;
    }

    &__element {
      display: flex;
      align-items: baseline;
    }

    hr {
      border-color: @navGra60 !important;
    }
  }
}
.highContrast .w-overview {
  .ekspanderbartPanel {
    background: @black;
  }
  .ekspanderbartPanel__hode {
    background: @black;
  }
  hr {
    border-color: white !important;
  }
}
