
.scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

.dropzone {
     position: relative;
     min-height: 200px;
     border: none !important;
     box-shadow: inset 3px 3px 3px lightgray;
     background-color: white;
     cursor: pointer;
     &:hover {
         background-color: #FAFAFF;
     }
 }

.dropzone-placeholder {
   padding: 5px;
   width: 100%;
}
.dropzone-files {
   position: absolute;
   top:0;
   left:0;
   height:100%;
   padding: 5px;
   width: 100%;
}
.dropzone-placeholder-message {
   top: 45%;
   position: absolute;
   text-align: center;
   width: 90%;
}

.dropzone-placeholder-status {
    right: 5px;
    top: 90%;
    position: absolute;
    color: gray;
    font-size: 0.8rem;
    text-align: right;
}

@keyframes pulsate {
    0% {
        background-color: rgba(0,128,0,0.2);
    }
    50% {
        background-color: rgba(0,128,0,0.1);
    }
    100% {
        background-color: rgba(0,128,0,0.2);
    }
}

.droppable-zone {
    background: transparent;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dropzone-active,
.droppable-zone-active {
    background-color: rgba(0,128,0,0.2);
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

.fileUploadFile-exit {
    opacity: 0.01;
    transform: scale(0.1);
      transition: all 500ms ease-out;
}

.fileUploadFile-exit-active {
    opacity: 0.01;
    transform: scale(0.1);
    transition: all 500ms ease-out;
}
