.p4000 .hjelpetekst {
    float: right!important;
    margin-top: 1rem;
}

.topContainer {
    background-color: white;
    min-height: 100vh;
}

.bigButton {
    flex: 1 1 auto;
    width: 200px !important;
    height: 120px !important;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
    box-shadow: 5px 5px 5px lightgray;
}

.bigButton:not([disabled]):not(:hover) {
    background-color: white !important;
}

.hiddenFileInputOutput {
  position: absolute;
  opacity: 0;
  float: right;
  width: 0;
}
