.horizontalLineSeparator {
  height: 1px;
  background: linear-gradient(90deg,
  var(--ax-bg-sunken) 0%,
  var(--ax-border-neutral-strong) 5%,
  var(--ax-border-neutral-strong) 95%,
  var(--ax-bg-sunken) 100%
  );
  width: -webkit-fill-available;
  margin-left: 2rem;
  margin-right: 2rem;
}
