.c-ui-documentStatus {

    position: relative;
    background-color: white;
    box-shadow: inset 3px 3px 3px lightgrey;
    transition: max-height 1s ease-out;
    max-height: 150px;

    &.expanded {

        transition: max-height 1s ease-out;
        max-height: 500px;
        background-color: rgba(0,255,0,0.1);
    }

    .documentButtons {


        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 1rem;
    }

    .documentActions {

        padding: 1rem;
    }

    .documentTags {

        padding-top: 0.5rem;
        padding-left: 1rem;

        .tags {
            margin-right: 0.5rem;

            &:not(.selected) {
                cursor: pointer;

                &:hover {
                    filter: brightness(130%);
                }
            }
        }

        .refresh {
            float: right;
            margin-right: 1rem;
            margin-top: 0.5rem;
            cursor: pointer;
        }

        .rotating {
             animation: c-ui-documentStatus-rotating 2s linear infinite;
        }
    }

    .documentButton {

          opacity: 0;
          animation: c-ui-document-load 0.3s forwards;

          .documentButtonContent {

                padding: 0 !important;
                width: 80px;
                height: 80px;
                border: none !important;

                &.sent {
                   background-color: #0067c5 !important;
                }

                &.notsent {
                    background-color: grey !important;
                }

                &:hover {
                    z-index: 2;
                    animation: c-ui-documentStatus-enlarge 0.3s forwards ease-in-out;
                }

                &:not(:hover) {
                    animation: c-ui-documentStatus-shrink 0.3s forwards ease-in-out;
                }

                &.active {
                   filter: brightness(120%);
                   transform: translateY(-10px);
                   animation: unset;
                }

                &.error {
                    background-color: red !important;
                }

                svg {
                    margin-left: 1rem;
                    margin-bottom: 0.25rem;
                }

                .documentType {
                    position: absolute;
                    font-size: 1.5rem;
                    bottom: 1.7rem;
                    left: 0.8rem;
                    color: #aaa;
                }
          }
    }
}

@keyframes c-ui-document-load {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes c-ui-documentStatus-enlarge {
  0% {
    filter: brightness(100%);
    transform: scale(1.0);
  }
  100% {
    filter: brightness(120%);
    transform: scale(1.2);
  }
}

@keyframes c-ui-documentStatus-shrink {
  0% {
    filter: brightness(120%);
    transform: scale(1.2);
  }
  100% {
    filter: brightness(100%);
    transform: scale(1.0);
  }
}

@keyframes c-ui-documentStatus-rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
