// Farger og fargepallett
// ------------------------------------
@white:       #ffffff;
@white-off:   #efefef;
@black:       #000000;
@purple:      #634689;
@purple-light:#826ba1;
@gray:        #d8d7d6;
@gray-dark:   #b7b1a9;
@orange:      #ff9100;
@orange-dark: #9b5901;
@blue-light:  #66cbec;
@blue:        #4990e2;
@blue-nav:    #0067c5;
@green:       #06893a;

// NAV farge
@navRod:      #C30000;
@navOransje:  #FF9100;
@navLimeGronn:#A2AD00;
@navGronn:    #06893A;
@navLilla:    #634689;
@navDypBla:   #005B82;
@navBla:      #0067C5;
@navLysBla:   #66CBEC;

//Tekst digitalt
@navMorkGra:  #3E3832;
@navGra80:    #59514B;
@navGra60:    #78706A;
@navGra40:    #B7B1A9;
@navGra20:    #C6C2BF;
@navLysGra:   #E9E7E7;

@pension-orange: rgb(255, 167, 51);
@pension-orange-alpha: rgba(255, 167, 51, 0.5);
@pension-orange-alpha-80: rgba(255, 167, 51, 0.8);
@high-contrast-orange: #ffc40d;
@form-dark-gray: #78706A;
@border-gray: #59514B;
@red-fail: #BA3A26;
// Typografi og fonter
// ------------------------------------

@font-color:  @black;
