
@import '~nav-frontend-core/less/core';
@import '~nav-frontend-typografi-style/src/index';
@import '~nav-frontend-chevron-style/src/index';
@import '~nav-frontend-alertstriper-style/src/index';
@import '~nav-frontend-skjema-style/src/index';
@import '~nav-frontend-knapper-style/src/index';
@import '~nav-frontend-paneler-style/src/index';
@import '~nav-frontend-lenkepanel-style/src/index';
@import '~nav-frontend-ekspanderbartpanel-style/src/index';
@import '~nav-frontend-tabell-style/src/index';
@import '~nav-frontend-alertstriper-style/src/index';
@import '~nav-frontend-grid-style/src/index';
@import '~nav-frontend-stegindikator-style/src/index';
@import '~nav-frontend-modal-style/src/index';
@import '~nav-frontend-etiketter-style/src/index';

//Disse må importeres separat siden de ikke inneholder src/index.less.
@import '~nav-frontend-spinner-style/src/spinner-style';
@import '~nav-frontend-lenker-style/src/lenker-style';
@import '~nav-frontend-snakkeboble-style/src/snakkeboble-style';
@import '~nav-frontend-tabs-style/src/tabs-style';
@import '~nav-frontend-hjelpetekst-style/src/hjelpetekst-style';
@import '~nav-frontend-lukknapp-style/src/lukknapp-style';

@import './constants';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: @white;
  color: @font-color;
  .typo-normal-mixin();
  line-height: 1.42857143;
}

h1.appTitle,
h4.appDescription {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

h1.appTitle {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h4.appDescription {
    margin-bottom: 1.5rem;
}

.p-p4000 .hjelpetekst,
.c-case-case .hjelpetekst {
    float: right! important;
    margin-top: 1rem;
}

.fieldset {
  position: relative;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px lightgrey;
  margin: 0rem 1.5rem;
  padding: 1.5rem;
  page-break-before: always;

  &.animate {
    opacity: 0.01;
    animation: fadeIn 0.3s forwards;
  }
  &.slideAnimate {
    opacity: 0;
    transform: translateX(-20px);
    animation: slideInFromLeft 0.3s forwards;
  }
}

.knapp--disabled {
  cursor: unset;
}

@keyframes fadeIn {
  0% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

