@import './constants';

.highContrast {
  .fieldset {
    background: @black !important;
  }

  .skjemaelement__input {
    background: @black !important;
  }

  .alertstripe--advarsel {
    background: @black !important;

  }
}
