@import './constants';
@import './keyframes';
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: @font-color;
  line-height: 1.42857143;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

hr {
  border-color: @navGra60;
}

pre {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.fieldset {
  position: relative;
  page-break-inside: avoid;
  padding: 1rem;
  background: white;

  &.animate {
    opacity: 0.01;
    animation: fadeIn 0.3s forwards;
  }
  &.slideAnimate {
    opacity: 0;
    transform: translateX(-20px);
    animation: slideInFromLeft 0.3s forwards;
  }
}

.skjemaelement__label {
   font-weight: bold
}

.knapp--disabled {
  cursor: unset;
}

.s-border {
  border: 1px solid @navGra60;
  border-radius: 4px;
}

@media(max-width: 576px) {
    button.w-sm-100 {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

// fix Bootstrap overriding {

.modal {
  display: block;
  position: relative !important;
}

.mv-center {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.ekspanderbartPanel--apen .ReactCollapse--collapse {
  will-change: max-height, height;
  max-height: 150em;
  animation: animation-open 250ms ease;
}

.ekspanderbartPanel--lukket .ReactCollapse--collapse {
  will-change: max-height, height;
  max-height: 0;
  animation: animation-close 250ms ease;
}

li.stegindikator__steg {
  z-index: 0;
}


