@import '../../../../constants';

.a-buc-p-bucnew {
  padding: 2rem 5rem 2rem 5rem !important;

  .label {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}


.highContrast .a-buc-p-bucnew {
  background: @black;
}
