@import '../Animations/animations.modules.css';

.progressBarDiv {
  background-color: var(--a-bg-default);
  width: 100%;
  display: block;
  border-radius: 4px;
  border-color: var(--a-border-default);
  border-width: 1px;
  &.border {
    border-style: solid;
  }
}

.bar {
  border-radius: 4px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  transition: width .3s ease;
  background-size: 1rem 1rem;
  animation: progressBarAnimation 1s linear infinite;
  &.inprogress {
    background-color: var(--a-blue-500);
    color: var(--a-white);
    background-image: linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .15) 0, hsla(0, 0%, 100%, .15) 75%, transparent 0, transparent);
  }
  &.done {
    background-color: var(--a-green-500);
    color: var(--a-white);
  }
  &.error {
    background-color: var(--a-red-500);
    color: var(--a-white);
  }
  &.todo {
    background-color: var(--a-border-divider);
  }
}
