.a-buc-c-bucdetail {

  &__props {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .odd {
      background-color: whitesmoke;
    }

    dt {
      width: 50%;
      padding-bottom: .25rem;
      padding-top: .25rem;

      .typo-element {
        margin-left: 0.5rem;
      }
    }

    dd {
      width: 50%;
      padding-bottom: .25rem;
      padding-top: .25rem;
      margin-bottom: 0;
    }
  }
}
