.a-buc-c-bucdetail {

  &__props {

    display: flex;
    flex-wrap: wrap;
    width: 100%;

    dt {
      width: 50%;
      padding-bottom: .25rem;
      padding-top: .25rem;
      &.odd {
        background-color: whitesmoke;
      }
    }

    dd {
      width: 50%;
      padding-bottom: .25rem;
      padding-top: .25rem;
      &.odd {
        background-color: whitesmoke;
      }
    }
  }

  &__institutions {
    display: flex;
    align-items: baseline;
  }
}
