.a-buc-bucedit {
  .toggleKnapp:not(.toggleKnapp--pressed) {
     background: white;
     &:hover {
       background: #0067C5;
     }
  }

  &__buttons {
    display: flex;
    flex-direction: row-reverse;
  }
}
