.a-buc-buclist {

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__buc{
    transform: translateX(-20px);
    opacity: 0;
    animation: a-buc-buclist-slideInFromLeft 0.2s forwards;
  }
}

@keyframes a-buc-buclist-slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
