.a-buc-w-bucnew {
  border: 1px solid #59514B;
  padding: 2rem 5rem 2rem 5rem !important;

  .label {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
