@import '../../../../constants';

.a-buc-c-sedsearch {
  display: flex !important;
  align-items: flex-start;

  .ekspanderbartPanel__hode {
    padding: 0.25rem;
  }

  &__query-input {
    margin-right: 0.5rem;
    margin-bottom: 0.25rem !important;
    margin-left: 0.25rem;

    .skjemaelement__label {
      display: none;
    }

    .skjemaelement__input {
      background: @navLysGra;
    }
  }

  &__status-select {
    .skjemaelement__label {
      margin-bottom: 0px !important;
    }
  }
}

.highContrast .a-buc-c-sedsearch {
  background: @black;
}
