.a-buc-c-sedsearch {

   display: flex !important;
   align-items: flex-start;
   border: 1px solid #59514B;SED

  .ekspanderbartPanel__hode {
    padding: 0.25rem;
  }

  &__query {

    width: 33%;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem !important;
    margin-left: 0.25rem;

    .skjemaelement__label {
      display: none;
    }

    .skjemaelement__input {
      background: whitesmoke;
      border: none;
    }
  }

  &__country {
    width: 33%;
  }

  &__status {
    width: 33%;
  }
}
