@import '../../../../constants';

.a-buc-c-sedlistheader {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__status {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    &-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  &__institution {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  &__actions {
    flex-direction: row;
    align-items: center;
  }
}

.highContrast .a-buc-c-sedlistheader {
  background: @black;
}
