.a-buc-c-sedlistheader {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__status {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__institution {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  &__actions {
    flex-direction: row;
    align-items: center;
  }
}
