.a-buc-websocket {

  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__status {
    width: 24px;
  }

  &__button {
    padding: 0rem 0.25rem 0rem 0.25rem !important;

  }
}
