@import '../../../constants';

.a-buc-websocket {
  display: flex;

  button {
    width: 24px;
    height: 24px;
  }

  .log {
    font-size: 0.9rem;
    display: block;
    &.info {
      color: @white;
    }
    &.error {
      color: @redError;
    }
  }

  .rotating {
    animation: rotating 2s linear infinite;
  }
}
