.a-buc-websocket {
  display: flex;

  button {
    width: 24px;
    height: 24px;
  }

  .log {
    font-size: 0.9rem;
    display: block;
    &.info {
      color: white;
    }
    &.error {
      color: red;
    }
  }

  .rotating {
    animation: a-buc-websocket-rotating 2s linear infinite;
  }
}

@keyframes a-buc-websocket-rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
