@import '../../constants';

.p-error {

  .banner {
    align-self: stretch;
    background-color: @pension-orange-alpha-80;
  }

  .line {
     width: 60%;
     margin: auto;
     border-bottom: 1px solid @navGra60;
  }

  .EESSIPensjonVeileder {
    height: 110px;
  }
}
