@import '../../constants';

.p-error {

  .banner {
    align-self: stretch;
    background-color: @pension-orange-alpha;
  }

  .line {
     width: 60%;
     margin: auto;
     border-bottom: 1px solid grey;
  }

  .psycho {
    height: 110px;
  }
}
